<!DOCTYPE html>
<html lang="en" class="no-js">
<body>
<header class="bg-black">
  <a class="logo" href="http://www.dallasnews.com" id="top"><span class="sr-only">The Dallas Morning News</span></a>
</header>
<!--
<form action="/login" method="post">
  <div>
    <label>Email:</label>
    <input type="text" name="username"/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <input type="submit" value="Log in"/>
  </div>
</form> -->
<a href="auth/google">Sign In with Google</a>
<!-- <a href="http://localhost:4000/meme-generator/auth/google">Sign In with Google</a> -->
</body>
</html>
